@import '../../theme/vars.scss';

$medium-bp: 1100px;

.wrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  @include font-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  letter-spacing: 0.1em;

  & + & {
    border-top: none;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 1.25em;
    &:before {
      content: "\00B7";
      margin-right: 0.5em;
    }
    &:after {
      content: "\00B7";
      margin-left: 0.5em;
    }
    @include grey-link;
    @include hover-zoom;
  }

  &--active {
    a, a:hover {
      color: white;
      transform: none;
    }
  }

  @media (max-width: $medium-bp) {
    font-size: 1.3rem;
  }
}
