@import './vars';

.bodyType {
  h1 {
    @include font-cursive;
    font-size: 8.5rem;
    font-weight: normal;
    margin: 0.5em 0 0.25em 0;
    line-height: 1;

    @media (max-width: $smaller-bp) {
      font-size: 6.5rem;
      line-height: 0.8;
    }
  }

  h2, h3 {
    @include font-cursive;
    font-weight: normal;
    margin: 0.5em 0 0.25em 0;
    line-height: 1;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }

  p, ul {
    font-size: 1.4rem;
    line-height: 1.55;
    margin: 1.55em 0;
    color: #e0e0e0;
    max-width: 55em;

    strong {
      @include font-serif;
    }
  }
  ul {
    padding: 0 0 0 2em;
  }

  hr {
    height: 1px;
    margin: 4rem 0;
    background: #404040;
    border: none;
  }
}
