@import '../theme/vars';

.fullWidthImg {
  margin: 40px -50px;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 50%;
}

.copy {
  a {
    color: #d41;
    &:hover {
      color: #e52;
    }
  }
}
